/* Importation de la police Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Définition des principales couleurs */
:root {
	--text-color : #fafafa; /* Texte presque blanc */
	--background: #34495e; /* Fond bleu foncé */
	--main-green: #0087db;
	--active-green: #004a79;
}

* {
	color: var(--text-color) ;
}

body {
	background-color: var(--background);
	font: 14pt Roboto, Arial, sans-serif;
	margin: 0;
	padding: 0;
	width: 90%;
	margin: 40px auto;
}

/* Paragraphes "Aucun résultat..." et "Aucune recherche..." */
p.info-vide {
	font-style: italic;
}

/* Partie En-tête */
h1 {
	/* margin-top: 1em; */
	text-align: center;
	font-variant: small-caps;
	font-size: 2.5em;
	color: var(--main-green);
}

p#explication {
	font-size: 1.2em;
}

/* Conteneur principal */
#conteneur {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 30px auto;
}

/* Media-query pour gérer l'affichage sur petit écran */
@media (max-width: 900px) {
	#conteneur {
		flex-direction: column-reverse;
	}
}

ul{
  list-style-type: none;
  width: 100%;
}
.magasin{
  margin-top: 3%;
}
.magasin img{
  margin-right: 2%;
}

.magasin a{
  margin-left: 2%;
}

#jeu {
	background-color: #0f1e2b;
	display: flex;
	max-width: 59%;
	justify-content:flex-start;
	align-items: center;
	border-radius: 30px;
}

#jeu img{
	margin: 2% 2% 2% 2%;
	border-radius: 10px;
	object-fit: contain;
}

#jeu p{
	font-size:  150%;
}

#infos_jeu ul li{
	background-color:#1d2935;
	padding: 1% 2% 1% 2%;
	width: 50%;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#infos_jeu ul li div{
	width: 100%;
	padding: 3% 0 3% 0;
}

#infos_jeu ul li a{
	text-decoration: none;
	background-color: #131a22;
	width: 20%;
	padding: 3% 0 3% 0;
	text-align: center;
	border-width: 3px;
	border-style: solid;
	border-color:#314458;
	border-radius: 15px;
	box-shadow: 0;
  transition: box-shadow 1s;
	
}

#infos_jeu ul li a:hover{
	box-shadow: 0 0 1em #283e53;
}

header a{
	text-decoration: none;
}